<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>

	<div id="app">
		<ul>
			<li v-for="(ingredient, i) in ingredients">
				{{ ingredient }} ({{ i }})
			</li>
		</ul>
		<hr>
		<ul>
			<li v-for="(person, index) in persons" :key="index">
				{{person.name}}
				<div v-for="(value, key, index) in person">
					{{key}}: {{value}} ({{index}})
				</span>
			</li>
		</ul>
		<hr>
		<template v-for="(ingredient, index) in ingredients" :key="index"> 
			<h1> {{ingredient}} </h1>
			<p> {{ index }} </p>
		</template>
		<hr>
		<span v-for=" n in 10"> {{n}} </span>

	</div>
<script>
	new Vue({
		el: '#app',
		data:{
			ingredients: ['meat','fruit','cookies'],
			persons: [
				{name: 'Max', age: 27,color: 'red'},
				{name: 'Anna', age: 'unknown', color: 'blue'}
			]	
		}
	})
</script>
</body>
</html>



